<!DOCTYPE xml>
<menu>

	<submenu label="Agendamento" icon="pi pi-clock">	
		<grupo value="ADMINISTRATIVOS"></grupo>
		<menuitem value="Agendamento" outcome="/restricted/agenda/AgendamentoIndividual.xhtml"></menuitem>
		<menuitem value="Pesquisar Pessoa(*)" outcome="/restricted/agenda/PesquisaPessoa.xhtml"></menuitem>	
		<menuitem value="Ver Agenda" outcome="/restricted/agenda/AgendaSchedule.xhtml"></menuitem>
		<menuitem value="Ver Calendario" outcome="/restricted/agenda/CalendarSchedule.xhtml"></menuitem>	
	</submenu>
	
	<submenu label="Atendimento" icon="pi pi-check-circle">	
		<grupo value="ADMINISTRATIVOS"></grupo>	
		<grupo value="TECNICOS"></grupo>
		<menuitem value="Atendimento" outcome="/restricted/atendimento/RealizarAtendimento.xhtml">
		<menuitem value="Atend. Recepção" outcome="/restricted/atendimento/PesquisaAtendimentoRecepcao.xhtml"></menuitem>		
			<grupo value="ADMINISTRATIVOS"></grupo>
		</menuitem>	
		<menuitem value="Registrar Ação" outcome="/restricted/atendimento/RealizarAcao.xhtml">
			<grupo value="ADMINISTRATIVOS"></grupo>
		</menuitem>				
		<menuitem value="Relatório de Ações" outcome="/restricted/atendimento/RelatorioAcoes.xhtml">
			<grupo value="ADMINISTRATIVOS"></grupo>
		</menuitem>		
	</submenu>
	
	<submenu label="Denuncia" icon="pi pi-book">
		<grupo value="ADMINISTRATIVOS"></grupo>
		<grupo value="TECNICOS"></grupo>		
		<menuitem value="Registrar Denuncia" outcome="/restricted/agenda/PesquisarDenuncia.xhtml">
			<grupo value="ADMINISTRATIVOS"></grupo>
		</menuitem>
	</submenu>		
	
	<submenu label="Encaminhamentos" icon="pi pi-arrow-circle-right">
		<grupo value="ADMINISTRATIVOS"></grupo>
		<grupo value="TECNICOS"></grupo>
		<menuitem value="Encaminhamento Externo" outcome="/restricted/encaminhamento/EncaminhamentoExterno.xhtml">
			<grupo value="ADMINISTRATIVOS"></grupo>
		</menuitem>
		<menuitem value="Cadastro Órgão Externo" outcome="/restricted/encaminhamento/orgao/PesquisaOrgao.xhtml"></menuitem>
		<submenu2 label="Gestão de Ofícios">
			<menuitem2 value="Receber Ofícios" outcome="/restricted/encaminhamento/ReceberOficio.xhtml">
				<grupo value="ADMINISTRATIVOS"></grupo>
			</menuitem2>
			<menuitem2 value="Emitir Ofícios" outcome="/restricted/encaminhamento/EmitirOficio.xhtml">
				<grupo value="ADMINISTRATIVOS"></grupo>
			</menuitem2>	
		</submenu2>		
		<submenu2 label="Relatórios">
			<menuitem2 value="Encam. Externos(*)" outcome="/restricted/encaminhamento/RelatorioEncExterno.xhtml">
				<grupo value="ADMINISTRATIVOS"></grupo>
			</menuitem2>
			<menuitem2 value="Ofícios Recebidos" outcome="/restricted/encaminhamento/RelatorioOficio.xhtml">
				<grupo value="ADMINISTRATIVOS"></grupo>
			</menuitem2>
			<menuitem2 value="Ofícios Emitidos" outcome="/restricted/encaminhamento/RelatorioOficioEmitido.xhtml">
				<grupo value="ADMINISTRATIVOS"></grupo>
			</menuitem2>	
		</submenu2>	
	</submenu>
	
	<submenu label="Coordenação" icon="pi pi-th-large">
		<grupo value="COORDENADORES"></grupo>
		<menuitem value="Alterar Unidade" outcome="/restricted/unidade/AlterarUnidade.xhtml"></menuitem>
		<menuitem value="Cadastro de Usuarios" outcome="/restricted/usuario/PesquisaUsuario.xhtml"></menuitem>
	</submenu>
</menu>